.logorreg{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.lin{
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
    padding: 30px;
    color: #90988f;
}

.linn{
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
    padding: 30px;
    color: #90988f;
}

.lin.selected {
    color: #05393a;
}

.linn.selected {
    color: #05393a;
}

